
html, body {
    background-color: gray;
}

.container {
    background-color: lightgray;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.tile {
    background-color: yellow;
    flex-basis: 100px;
}

.box {
    background-color: blue;
    min-height: 100px;
    min-width: 100px;
    display: inline-block; /* <= Set to "display: block;" and it will be OK */
}
