
html, body {
    background-color: gray;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tile {
    flex-basis: 23vw;
    min-width: 20px;
    background-color: yellow;
    display: flex;
    position: relative;
}


.img_text {
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
    text-align: center;
    color: yellow
}

/*
.box {
    background-color: blue;
    height: 50px;
    max-width: 0;
    /*flex: 1 1 23vw;*/
}
*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
